.popup {
  width: 250px;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

label {
  width: max-content;
  color: tomato;
  font-size: 13px;
  border-bottom: .5px solid tomato;
  margin: 3px 0;
}

.review {
  font-size: 14px;
}

.stars {
  color: gold;
}

.username {
  font-size: 14px;
}

.date {
  font-size: 12px;
}

form {
  width: 250px;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

input, textarea {
  border: none;
  border-bottom: 1px solid gray;
}

input::placeholder, textarea::placeholder {
  font-size: 12px;
  color: rgb(176, 176, 176);
}

.submitButton {
  border: none;
  padding: 5px;
  border-radius: 5px;
  color: white;
  background-color: tomato;
  cursor: pointer;
}

button {
  color: white;
  border: none;
  border-radius: 5px;
  padding: 6px;
  cursor: pointer;
}

.loginButton {
  background-color: teal;
  position: absolute;
  top: 10px;
  right: 80px;
}

.logoutButton {
  background-color: tomato;
  position: absolute;
  top: 10px; /* Adjust this value to create space between buttons */
  right: 10px;
}

.registerButton {
  background-color: slateblue;
  position: absolute;
  top: 10px; /* Adjust this value to create space between buttons */
  right: 10px;
}

.registerForm {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}